.scaled-image {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 25px;
}

a.text-white {
    color: white;
    text-decoration: none;
}

a.text-white:hover {
    color: #ccc;
    text-decoration: none;
}
