<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
</head>
<body>
<nav class="d-flex justify-content-start">
    <ul class="d-flex">
            <li class="mx-2"><a href="{% url 'landing' %}" class="text-white">Главная</a></li>
            <li class="mx-2"><a href="{% url 'about' %}" class="text-white">О нас</a></li>
            <li class="mx-2"><a href="{% url 'contacts' %}" class="text-white">Контакты</a></li>
    </ul>
</nav>
    <h1>Контакты</h1>
    <p>
        Если у вас возникли вопросы или предложения, вы можете связаться с нами по следующим контактам:
    </p>
    <ul>
        <li>Адрес: г. Шэньчжэнь, ул. Банан, д. 518129</li>
        <li>Телефон: +7 (800) 555-35-35</li>
        <li>Электронная почта: info@huawei.com</li>
    </ul>
</body>
</html>
